@import "../bower_components/normalize-scss/_normalize.scss";
@import "../bower_components/typeplate-starter-kit/scss/_typeplate.scss";

p+p {
    text-indent: 0;
    margin-top: 0;
}

p {
    max-width: 80ch;
    margin-left: 0;
    margin-right: auto;
}

ul, ol {
    max-width: 80ch;
    margin-left: 0;
    margin-right: auto;
}

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    transition-duration: 0.2s;
    transition-property: all;//opacity, transform, color, background-color, border-color, z-index, background-image;
    transition-timing-function: ease;
}

/**
 * GRIDS
 */

.grid {
    display: block;
    text-align: justify;
    font-size: 0;
    position: relative;

    > * {
        display: inline-block;
        width: 100%;
        font-size: 1rem;
        text-align: left;
    }

    &:after {
        display: table;
        width: 100%;
    }
}

@mixin grid_r($col, $width, $padding: 0) {
    @media screen and (min-width: #{$width}px) {
        .grid-#{$col}-#{$width} {
            & > * {
                width: #{100/$col}%;
                padding: #{$padding}px;
            }
        }
    }
}

@mixin grid($col, $padding: 0) {
    .grid-#{$col} {
        & > * {
            width: #{100/$col}%;
            padding: #{$padding}px;
        }
    }
}

@include grid(2);
@include grid(4);
@include grid(8);
@include grid_r(2,400);
@include grid_r(2,800);
@include grid_r(4,400);
@include grid_r(4,800);
@include grid_r(8,800);
@include grid_r(8,1024);
@include grid_r(8,1280);

/**
 * GENERAL
 */

img {
    max-width: 100%;
}
body {
    font-family: 'San Francisco', 'Helvetica', 'Trebuchet MS', Arial, sans-serif;
}

/**
 * PACE (automatic pre-loader thingy)
 */

.pace {
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
    .pace-progress {
        background: #2299dd;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px;
        transition: all 1s ease;
    }
}

.pace-inactive {
    opacity: 0;
}

.pace-active {
    opacity: 1;
}

/**
 * App code
 */
// 
 * {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 12px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: #EDEAE1;
}

.container {
    width: 100%;
    margin: auto;
    text-align: center;
}

// Header

.header {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
    cursor: pointer;
    background-color: white;
    border-bottom: 1px solid #CFCBC8;


    .appTitle {
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        text-decoration: none;
        display: inline-block;

            h3 {            
            padding-top: 25px;
            padding-left: 15px;
            vertical-align: baseline;
            line-height: 30px;
            color: #353535;

            i {
                color: #75797c;
            }
        }

    }

}

// Footer 
.footer {
    background-color: white;
    border-top: 1px solid #CFCBC8;
    left: 0;
    bottom: 0px;
    width: 100%;
    overflow: hidden;
    position: fixed;

    ul {
        padding: 0;
        max-width: 200ch;
    }

    .tab {
        font-size: 17px;
        color: #75797c;
        display: inline-block;
        vertical-align: baseline;
        background: transparent;
        margin-right: 15px;
        cursor: pointer;
        margin-left: 1%;
        line-height: 40px;
        text-decoration: none;
    }
}

//HomeView 

.homeView {
      

        .leftCol {
            width: 48%;
            display: inline-block;
            vertical-align: top;
            padding-right: 5px;
            // border-right: 2px solid #CFCBC8;
        }

        .rightCol {
            width: 50%;
            display: inline-block;
            vertical-align: top;
            overflow: scroll;    

        }

}

 // Ballot View

 .ballotView {

    p {
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: bold;
    }

    button {
        margin: 5px;
        background-color:  #75797c;
        color: white;
    }

    iframe {
        height: 65vh;
        width: 100%;
        border: 3px solid #CFCBC8;
        margin-top: 3px;
    }
 }


// Search View

 .searchView {
    border: 3px solid #CFCBC8;
    width: 90%;
    margin: auto;
    height: 65vh;
    overflow: scroll;
    background-color: white;

    .searchBlurb {
        font-weight: bold;
        padding-top: 10px;
    }

    .searchResult {
        margin-top: 10px;
        width: 90%;
        margin: auto;

        p {
            display: inline-block;
        }
    }

    input {
        length: 25%;
        font-size: 15px;
        padding: 5px;
        border: 3px solid #CFCBC8;
    }

    .scroll {
        margin-top: 20px;
        padding-right: 20px;
        padding-left: 10px;


    }

    hr {
        padding-right: 5px;
        width: 95%;
    }
    
 }

 //Interact View

 .interactView {

    width: 98%;
    margin-left: 10px;

    .interBlurb {
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    button {
        margin: 5px;
        background-color:  #75797c;
        color: white;
    }

    .interactContent {
        width: 80%;
        margin: auto;
        margin-top: 5px;
    }

    
 }

 // Leader View

 .leaderView {
    border: 3px solid #CFCBC8;
    width: 93%;
    margin: auto;
    overflow: scroll;
    background-color: white;
    height: 65vh;
    overflow: scroll;

    hr {
        width: 85%;
    }


    .leaderBlurb {
        font-weight: bold;
        padding-top: 10px;
    }

    .groupName {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .groupBlurb {
        width: 80%;
        margin: auto;
    }
 }


 //Mobile Styles

 @media only screen and (max-width: 770px) {

    .homeView {

        .leftCol {
            width: 100%;
            display: block;
            margin-bottom: 20px;                    
        }

         .rightCol {
            width: 100%;
            display: block;
            overflow: scroll;
            margin-bottom: 20px;
        }

        .ballotView {
            width: 95%;
            margin: auto;


            iframe[seamless] {
                width: 100%;
                height: 70vh;
            }
        }

        .footer {
            position: fixed;

             .tab {
                display: block;
                font-size: 15px;

                a {
                  text-decoration: none; 
                } 
            }  
        }
    } 

}

@media only screen and (max-width: 320px) {
     .ballotView {
            width: 95%;
            margin: auto;

            iframe[seamless] {
                width: 95%;
                height: 100%;
            }
 
        }
}





