@import "../bower_components/normalize-scss/_normalize.scss";
@import "../bower_components/typeplate-starter-kit/scss/_typeplate.scss";

p+p {
    text-indent: 0;
    margin-top: 0;
}

p {
    max-width: 80ch;
    margin-left: 0;
    margin-right: auto;
}

ul, ol {
    max-width: 80ch;
    margin-left: 0;
    margin-right: auto;
}

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    transition-duration: 0.2s;
    transition-property: all;//opacity, transform, color, background-color, border-color, z-index, background-image;
    transition-timing-function: ease;
}

/**
 * GRIDS
 */

.grid {
    display: block;
    text-align: justify;
    font-size: 0;
    position: relative;

    > * {
        display: inline-block;
        width: 100%;
        font-size: 1rem;
        text-align: left;
    }

    &:after {
        display: table;
        width: 100%;
    }
}

@mixin grid_r($col, $width, $padding: 0) {
    @media screen and (min-width: #{$width}px) {
        .grid-#{$col}-#{$width} {
            & > * {
                width: #{100/$col}%;
                padding: #{$padding}px;
            }
        }
    }
}

@mixin grid($col, $padding: 0) {
    .grid-#{$col} {
        & > * {
            width: #{100/$col}%;
            padding: #{$padding}px;
        }
    }
}

@include grid(2);
@include grid(4);
@include grid(8);
@include grid_r(2,400);
@include grid_r(2,800);
@include grid_r(4,400);
@include grid_r(4,800);
@include grid_r(8,800);
@include grid_r(8,1024);
@include grid_r(8,1280);

/**
 * GENERAL
 */

img {
    max-width: 100%;
}
body {
    font-family: 'San Francisco', 'Helvetica', 'Trebuchet MS', Arial, sans-serif;
}

/**
 * PACE (automatic pre-loader thingy)
 */

.pace {
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
    .pace-progress {
        background: #2299dd;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px;
        transition: all 1s ease;
    }
}

.pace-inactive {
    opacity: 0;
}

.pace-active {
    opacity: 1;
}

/**
 * App code
 */
// 
$lightGrey: #CFCBC8;
$grey: #75797c;
$offWhite: #f7f7ef;
$offBlack: #353535;
$blue: rgba(22, 33, 94, 1);
$lightBlue: rgba(74, 138, 200, 0.1);
//$lightBlue: rgba(22, 33, 94, 0.2);
$red: rgb(173, 22, 22);


 * {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 12px;
    background-color: $lightBlue;
}

.container {
    width: 100%;
    margin: auto;
    text-align: center;
}

// Header

.header {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
    background-color: white;
    border-bottom: 1px solid $lightGrey;


    .appTitle {
        text-decoration: none;
        display: inline-block;
        cursor: pointer;

            h3 {            
            padding-top: 25px;
            padding-left: 35px;
            padding-right: 15px;
            vertical-align: baseline;
            line-height: 30px;
            color: $blue;

            .write {
                display: inline-block;
                margin: 0;
                font-style: italic;
                font-family: 'Courgette', cursive;
                            
            }

            .vote {
                display: inline-block;
                margin: 0;
                color: $red;
                font-family: 'Righteous', cursive;
            }
        }

    }

    .greeting {   
        position: relative;
        display: inline-block;
        font-size: 15px;
        margin-left: 1%;
        top: -7px;
        cursor: normal;
    }

    .navBar {
        display: inline-block;
        position: fixed;
        vertical-align: baseline;
        right: 1%;
        top: 2%;        

        ul {
            padding: 0;
            max-width: 200ch;
        }

        .tab {
            font-size: 17px;
            color: $grey;
            display: inline-block;
            vertical-align: baseline;
            cursor: pointer;
            margin-right: 25px;
            line-height: 40px;
            text-decoration: none;
        }


        .tab:hover {
            color: $red;
            font-weight: bold;
        }

         .even:hover {
            color: $blue;
            font-weight: bold;
    }
    }

}

// Footer 

.footer {
    background-color: white;
    border-top: 1px solid $lightGrey;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    position: fixed;


    ul {
        padding: 0;
        max-width: 200ch;
    }

    .tab {
        font-size: 17px;
        color: $grey;
        display: inline-block;
        vertical-align: baseline;
        background: transparent;
        margin-right: 15px;
        cursor: pointer;
        margin-left: 1%;
        line-height: 40px;
        text-decoration: none;
    }

    .tab:hover {
        color: $red;
        font-weight: bold;
    }

    .odd:hover {
        color: $blue;
        font-weight: bold;
    }
}

//Splash Page 

.splashView {
    position: relative;
    background-image: url("./images/houston-skyline.jpg");
    background-size: cover;
    height: 105vh;

    .splashHeader {
        position: relative;
        width: 100%;
        text-align: left;
        background: white;

            .loginContainer {
                display: inline-block;
                padding-left: 1%;
                padding-top: 15px;
                
                input {
                    padding: 5px;
                    margin: 5px;
                    display: block;
                }

                button {
                    position: relative;
                    background: transparent;
                    border: none;
                    font-weight: bold;
                    margin-left: 15px;
                }

                .logInBtn {
                    border: 2px solid $blue;
                    color: $blue;
                    background-color: white;
                }

                .logInBtn:hover {
                    border: 2px solid $blue;
                    color: white;
                    background-color: $blue
                }

                .signUpBtn {
                    border: 2px solid $red;
                    color: $red;
                    background-color: white;
                }

                .signUpBtn:hover {
                    border: 2px solid $red;
                    color: white;
                    background-color: $red;
                }

                p {
                    display: inline-block;
                    color: $red;
                    margin: 10px;
                }
            }
    }

  
     .splashMidCol {
        width: 100%;
        display: inline-block;
        vertical-align: top;
        margin: auto;

        .blurb{
            background-color: rgba(0, 0, 0, 0.5); 
            font-family: 'Satisfy', cursive;
            color: white;
            font-size: 50px;
            position: relative;
            top: 350px;
            padding-bottom: 5px;
            padding-top: 5px;
        }

            .appTitle {
                position: relative;
                background: transparent;
                width: 90%;
                margin: auto;
                margin-top: 7.4%;

                    h3 {
                        line-height: 200px;
                        color: $red;
                        //text-shadow: -2px 0 rgba(255, 255, 255, 0.4), 0 2px rgba(255, 255, 255, 0.4), 2px 0 rgba(255, 255, 255, 0.4), 0 -2px rgba(255, 255, 255, 0.4);
                        text-shadow: 0px 5px 2px rgba(255, 255, 255, 0.8);

                        .write {
                            display: inline-block;
                            margin: 0;
                            color: rgba(22, 33, 94, 0.9);
                            font-size: 180px;
                            font-family: 'Courgette', cursive;
                        }

                        .vote {
                            font-size: 190px;
                            display: inline-block;
                            margin: 0;
                            color: $red;
                            font-family: 'Righteous', cursive;
                        }
                    }
            }
        
    }

}


//HomeView 

.homeView {
      

        .leftCol {
            width: 48%;
            display: inline-block;
            vertical-align: top;
            padding-right: 5px;
        }

        .rightCol {
            width: 50%;
            display: inline-block;
            vertical-align: top;
            overflow: scroll;    

        }

}

// Ballot View

 .ballotView {

    p {
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .ballotButtons {
        margin-top: 15px;
        margin-bottom: -5px;

        button {
            font-size: 15px;
            padding-left: 25px;
            padding-right: 25px;
            padding-top: 10px;
            padding-bottom: 10px;
            background-color:  white;
            color: $grey;
            border-top: 2px solid $lightGrey;
            border-bottom: none;
            border-left: 2px solid $lightGrey;
            border-right: none;
            outline: none;
        }

         button:hover {
            background-color: $grey;
            color:  white;
        }

        .ballotBtn3 {
            border-right: 2px solid $lightGrey;
        }

        button:focus {
            outline: none;
        }

    }

       
    iframe {
        height: 65vh;
        width: 100%;
        border: 2px solid $lightGrey;
        margin-top: 5px;
        margin-left: 10px;
    }
 }

//Interact View

 .interactView {

    position: relative;
    width: 96%;
    margin: 0;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: -5px;


    .interBlurb {
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 30px;
        padding-right: 20px;
    }

    button {
        outline: none;
        font-size: 15px;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color:  white;
        color: $grey;
        border-top: 2px solid $lightGrey;
        border-bottom: none;
        border-left: 2px solid $lightGrey;
        border-right: none;
    }

    .notepadBtn {
        border-right: 2px solid $lightGrey;
    }


    button:hover {
        background-color: $grey;
        color:  white;
    }

    .interactContent {
        width: 80%;
        margin: auto;
        margin-top: 5px;
    }

    
 }

//About View 

.aboutView {
    position: relative;
    background-color: $lightBlue;
    height: 100vh;

    .aboutCol {
        border: 3px solid $lightGrey;
        position: relative;
        top: 5px;
        background-color: white;
        width: 55%;
        margin: auto;
        height: 75vh;
    }

    .aboutText { 
        border: 1px dashed $blue;
        position: relative;
        height: 60vh;
        margin: auto; 
        text-align: left;
        padding: 20px;
        color: black;
    }

    hr {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 15px;
    }


    .title {
        width: 100%;
        margin: auto;
        font-size: 15px;
        font-weight: bold;
        padding-top: 10px;
        text-align: center;
    }

    .text {
        width: 100%;
        margin: auto;

    }

}

.howView {
    width: 95%;
    margin: auto;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    height: 75vh;
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 15px;
    color: black;
    font-size: 15px;
    overflow: scroll;

    hr {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 15px;
    }


    .howBlurb {
        font-weight: bold;
        padding-top: 10px;
        text-align: center;
        padding-bottom: -15px;
        font-size: 15px;
        color: $red;
    }

}

// Search View

 .searchView {
    border: 2px solid $lightGrey;
    width: 95%;
    margin: auto;
    margin-top: 5px;
    height: 65vh;
    overflow: scroll;
    background-color: white;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 10px;
    padding-bottom: 15px;

    hr {
        width: 100%;
        margin-bottom: 10px;
        margin-top: 15px;
    }

    .searchBlurb {
        font-weight: bold;
        padding-top: 10px;
        margin: 0;
    }

    .searchResult {
        margin-top: 5px;
        width: 100%;
        margin: auto;
        text-align: left;

        p {
            display: inline-block;
        }
    }

    input {
        length: 25%;
        font-size: 15px;
        padding: 5px;
        margin-bottom: 5px;
        border: 2px solid $lightGrey;
    }

    .scroll {
        margin-top: 20px;
    }
    
 }

 // Leader View

 .leaderView {
    border: 2px solid $lightGrey;
    width: 95%;
    margin: auto;
    margin-top: 5px;
    overflow: scroll;
    background-color: white;
    height: 65vh;
    overflow: scroll;
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 15px;

    hr {
        width: 100%;
        margin-top: 10px;
    }


    .leaderBlurb {
        font-weight: bold;
        padding-top: 10px;
        text-align: center;
        padding-bottom: -15px;
        padding-left: 20px;
    }

    .groupName {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .groupBlurb {
        margin: auto;
    }
 }

//Notepad View 

.notepadView {
    border: 2px solid $lightGrey;
    width: 95%;
    margin: auto;
    margin-top: 5px;
    height: 65vh;
    overflow: scroll;
    background-color: white;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 10px;
    padding-bottom: 15px;

    hr {
        width: 100%;
        margin-bottom: 15px;
    }

    .notepadBlurb {
        font-weight: bold;
        padding-top: 10px;
        margin: 0;
        margin-bottom: 10px;
    }

    .noteForm { 
        text-align: left;      

        label {
            display: inline-block;
            position: relative;
           font-weight: bold;
           margin-left: 5px;
           margin-right: 10px;
           margin-bottom: 7px;

           input {
            position: relative;
            margin-right: 10px;
            font-weight: normal;
            margin-bottom: 7px;
            padding: 5px;
           }
   
           textarea {
            position: relative;
            font-weight: normal;
            display: block;
            width: 250%;
            padding: 5px;
           }

        }

        button {
            background-color: white;
            font-weight: bold;
            color:  $grey;
            border: 2px solid $lightGrey;
            padding: 5px;
            position: relative;
            display: block;
            margin-top: 15px;
            left: 45%;
        }

        button:hover {
            background-color: $grey;
            color:  white;
        }        
    }
} 

.myNotesView {
    border: 2px solid $lightGrey;
    width: 95%;
    margin: auto;
    margin-top: 5px;
    background-color: white;
    overflow: scroll;
    height: 75vh;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 15px;

    .noteBlurb {
        font-weight: bold;
        padding-bottom: -15px;
    }

    hr {
        margin-bottom: 10px;
    }

    .myNoteView {
        background-color: white;
        border: 1px solid $grey;
        margin-bottom: 10px;
        padding: 10px;
        text-align: left;
    }


    p {
        display: inline-block;
        margin-right: 10px;
        margin: 5px;
    }

    .myNotesButtons {
        position: relative;
        display: block;
        margin-top: 10px;

        input {  
            margin-right: 10px; 
            margin: 5px;      
        }

        .share {
            border: 2px solid $blue;
            padding: 5px;
            margin-left: 5px;
            margin-right: 10px;
            font-weight: bold;
            padding-top: 7px;
            padding-bottom: 7px;
            padding-left: 5px;
            padding-right: 3px;
            color: $blue;
        }

        .print {
            font-weight: bold;
            border: 2px solid $blue;
            color: $blue;
            padding-top: 7px;
            padding-bottom: 7px;
            padding-left: 5px;
            padding-right: 3px;
        }

         button {
                background-color: white;
                color: $red;
                border: 2px solid $red;            
                font-weight: bold;            
                padding-top: 4px;
                padding-bottom: 4px;
                padding-left: 5px;
                padding-right: 5px;
                margin-left: 10px;
                position: relative;
                display: inline-block;
        }

            button:hover {           
                background-color: $red;
                color: white;
                border: 2px solid $red;
            }
    }
    
}

.printView {
    border: 2px solid $lightGrey;
    width: 95%;
    margin: auto;
    margin-top: 5px;
    background-color: white;
    overflow: scroll;
    height: 75vh;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 15px;

    .printBlurb {
        font-weight: bold;
        padding-left: 5px;
        padding-right: 5px;
    }

    hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .printNoteView {
        background-color: white;
        text-align: left;
        margin-bottom: 5px;
    }


    p {
        display: inline-block;
        margin-right: 10px;
        margin: 3px;
    }

}


.allNotesView {
    border: 2px solid $lightGrey;
    width: 95%;
    margin: auto;
    margin-top: 15px;
    background: white;
    overflow: scroll;
    height: 71.4vh;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 15px;

    .publicBlurb {
        font-weight: bold;
        padding-bottom: -15px;
    }

    label {
            display: inline-block;
            position: relative;
           font-weight: bold;
           margin-left: 5px;
           margin-right: 10px;
           margin-bottom: 7px;

           input {
            display: inline-block;
            width: 50%;
            position: relative;
            font-weight: normal;
            margin-top: 5px;
            padding: 5px;
            text-align: center;
           }
       }

    hr {
        margin-bottom: 10px;
    }

    .pubNoteView {
        background-color: rgba(255, 255, 255, 0.2);
        border: 1px solid $grey;
        margin-bottom: 10px;
        padding: 10px;
        text-align: left;
    }


    p {
        display: inline-block;
        margin-right: 10px;
        margin: 5px;
    }

}



//Mobile Styles

@media screen and (max-width: 400px) {

    .aboutView {
        height: 150vh;
         .aboutCol {
            width: 95%;
         }

    }


    .splashView {

        .splashMidCol {
            .blurb {
                padding-right: 5px;
                position: relative;
                margin-top: -260px;
            }

            .appTitle{
                display: none;
            }
        }

        .splashHeader {
            position: relative;
            text-align: center;
        }

    }
}

 @media all and (max-width: 770px) {

    .header {
        text-align: center;

        .appTitle {
            display: block;
            overflow: hidden;
        }

        .navBar {
            position: relative;
            display: block;
            text-align: center;
            left: 10px;          

             .tab {
                display: block;
                font-size: 15px;
                position: relative;
            }
        }
    }

    .aboutView {
        height: 145vh;
         .aboutCol {
            width: 95%;
         }

    }

    .homeView {

        .leftCol {
            width: 100%;
            display: block;
            margin-bottom: 20px; 

        }

         .rightCol {
            width: 100%;
            display: block;
            overflow: scroll;
            margin-bottom: 20px;           

        }

        .ballotView {
            width: 95%;
            margin: auto;

            .frameWrap {
                width: 100%;
                position: relative;
                -webkit-overflow-scrolling: touch;
                overflow-y: scroll;
                border: 3px solid $lightGrey;
            }

            iframe[seamless] {
                width: 100%;
                height: 50vh;
                border: none;
            }
        }

        .ballotView {

            button {
                border: 3px solid $lightGrey;
                border-bottom: none;
                margin-bottom: 5px;
            }

            .ballotBtn1 {
                border-right: none;
            }

            .ballotBtn2 {
                border-right: none;
            }

        }

        .interactView {
            button {
                border: 3px solid $lightGrey;
                border-bottom: none;
            }

            .searchBtn {
                 border-right: none;
            }

             .leaderBtn {
                 border-right: none;
            }

        }    

        .notepadView {
            .noteForm {
                .noteCont {
                    width: 45%;
                }
            }
        }


        .footer {
            position: relative;
            bottom: 0;

             .tab {
                display: block;
                font-size: 15px;
                position: relative;

                a {
                  text-decoration: none; 
                } 
            }  
        }
    } 

}



